.service{
    font-size: 36px;
    font-weight: 600;
    width: 25%;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    
   
   
    
}

.services-container{
    display: flex;
   
    font-family: 'Montserrat', sans-serif;
    
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.services-slider{
    display: flex;
    /* width: 100%; */
    /* overflow: hidden; */
    /* flex-wrap: nowrap; */
    white-space: nowrap;
    background-color: #5B88B2;
    animation: slider 50s  linear infinite ;
    height: 75px;
    align-items: center;
   
    
}

@keyframes slider {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}