.quote-container{
    font-family: 'Montserrat', sans-serif;
   
    
    
   
    /* margin-left: 74px; */
    
}

.quote-text
{
    font-size: 40px;
    font-weight:400;
    text-align: center;
    height: 20px;
    
}
.quote-author
{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
   
}