.quote-container{
    font-family: 'Montserrat', sans-serif;
   
   
    /* margin-left: 74px; */
    
}
.quote-span{
    font-style: italic;
}
.quote-text
{
    font-size: 45px;
    font-weight:800;
    width:75%;
}