

.card-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  position: sticky;
  
  width: 93%;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional: Give the cards a background to see the effect */
.card:nth-child(1) {
  z-index: 1;
 
}

.card:nth-child(2) {
  z-index: 2;
  
}

.card:nth-child(3) {
  z-index: 3;
  
}


.card-img {
 width: 100%;
}
