.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    height: 100vh; 
    width: 1356.83px;
    display: flex;
    
    align-items: center;
    position: sticky;
    top: 0; 
   
   
  }