@font-face {
  font-family: 'Coolvetica';
  src: 
    url('./fonts/Coolvetica-Regular.woff2') format('woff2'),
    url('./fonts/Coolvetica-Regular.woff') format('woff'),
    url('./fonts/Coolvetica-Regular.ttf') format('truetype'),
    url('./fonts/Coolvetica-Regular.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}