.home-container
{
    width: 1356.83px;
    margin: auto;
    overflow-x: hidden;
}
.home-container-one
{
    width: 1856.83px;
    height: 2500px;
    margin: auto;
    overflow-x: hidden;
}


.card-img{
    width: 100% !important;
}

